/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
body {
  background: #000000;
  opacity: 80%;
}
.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 10%;
    background: #000000;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.navbar a {
    display: inline-block;
    font-size: 18px; 
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

    position: relative; /* Add relative positioning */
 }
 
 .navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the position of the line */
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, gold, #ff2600); /* Replace with your gradient colors */
    transform: scaleX(0); /* Initially hide the line */
    transition: transform 0.3s ease;
 }
 
 .navbar a:hover::after,
 .navbar a:focus::after {
    transform: scaleX(1); /* Show the line on hover or focus */
 }
 
/*ENDS header style starts here  */
/* START home section style start */
#home{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 70px 10% 0; 
 color: white;

}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay:.7s;
}
.home-content h3{
    font-size: 32px ;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:.7s;
} 
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:1.3s;
}
.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:1.8s;
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(to right, gold, #ff2600, gold);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    filter: blur(5px);
    transition: 5s ease;
}
.btn:hover.btn::before {
    background-position: 100% 0;
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(to right, gold, #ff2600, gold);
    background-size: 200%;
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    transition: 5s ease;
}
.btn:hover::after{
    background-position: 100% 0;
}
.home-content{
    max-width: 500px;
    margin: -30px;
}
/* END home section style start */
/*SARTS icons style here */
.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, gold, #ff2600);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}
.home-sci a:nth-child(1){
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay:2.1s;
}
.home-sci a:nth-child(2){
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay:2.1s;
}
.home-sci a:nth-child(3){
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay:2.1s;
}
.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, gold, #ff2600);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
} 
.home-sci a:hover::before{
   filter: blur(5px    );
}
.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}
.home-sci a:hover::after {
    transform: scale(0);  
}
/*ENDS icons style here */
/* Home image */
.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay:2.1s, 3.1s;
}

.home-img .glowing-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after{
    content: '';
    position: absolute; 
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
}
.glowing-circle span{
    position: absolute;
    width: 400px;
    height: 400px;
     background: linear-gradient(to right, gold, #ff2600); 
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}
.glowing-circle span:nth-child(1){
    filter: blur(10px);
}
.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;
     background: #000000;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.image img{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    max-width: 350px;
    object-fit: cover;
}
/* KEYFRAME ANIMATION */
@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
   100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
   100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
   100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
   100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomIn{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImage {
    0%{
       transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
     }
}

@keyframes circleRotate{
    0%{
        transform: rotate(0);
     } 
     100%{
        transform: rotate(360deg);
     } 
}
/*---------------------------------------- end home page */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px 10%;
    margin-top: 0;
  
  }
  .about-content h1 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

  }
  
  .about-content h1::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    
    height: 2px;
    background: linear-gradient(to right, gold, #ff2600);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .about-content h1:hover::after {
    transform: scaleX(1);
  }
  
  .about-content p {
    font-size: 18px;
    line-height: 1.5;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.5s;
  }
 
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* ------------------certifications section */
  #certification {
    padding: 20px 10%;
  }
#certification .section-title {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 
}

.certificate__container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
 
  justify-items: center;
}

.certificate__img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Add transition property */
}

.certificate__img img:hover {
  transform: scale(1.3); /* Increase the image size by 30% on hover */
}

/* ===== SKILLS =====*/
.wrapper {
    position: relative;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top_div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_div h1 {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px 30px;
    color: #fff;
}

.top_div hr {
    position: relative;
    width: 70px;
    height: 4px;
    border: none;
    background: linear-gradient(to right, gold, #ff2600);
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.contents {
    position: relative;
    width: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.contents img {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
}

.contents h2 {
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
    color: #fff;
}

.contents p {
    font-size: 15px;
    line-height: 1.4;
}
/*---------================ portfolio section   */
#work{
  background: #000000;
  padding-bottom: 10px;
}
#cards{
    width: 75%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;

    
  }
  #card{
    background: rgb(240, 242, 255);
    border-radius: 10px;
  }
  img{
    width: 100%;
  }
  #content{
    text-align: center;
    padding: 10px;
    color:black;
  }
  #content h3{
  font-size: 17px;
  color: black; 
  }
   #content p{
    margin-top: 10px;
    height: 150px;
  }
  #content a{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    
  } 
/* ===== CONTACT =====*/
#contact {
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 25px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color:#fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box,
.contact-form textarea {
  background: linear-gradient(to right, gold, #ff2600);
  color:white;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 50%;
}

.contact-form .send-btn {
  float: right;
 background: linear-gradient(to right, gold, #ff2600);
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}
.footer{
  min-height: 100px;
  width: 100%;
  background: #000000;
  border-top: 2px solid  #ff2600; 
}



